*{

    padding: 0 ;
    margin: 0;
}

main{
    margin-top: calc(60px + 1vh);
    height: 100vh;
    
}

.pacifico-Regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  color: #333;
  font-style: normal;
  font-size: 25px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(129, 164, 179);
    position: fixed;
    height: calc(60px + 1vh);
    width: 100%;
    top: 0
}
.logo{
    text-align: center;
    margin-left: calc(15px + 3vw);

}
#menuIcon {
    text-align: center;
    padding-right: 15px;
    margin-right: 20px
}
#menuIcon:hover {
    transform: translateY(-3px)
}

.bar1, .bar2, .bar3 {
  width: 30px;
  height: 3px;
  background-color: #333;
  margin: 4px 0;  
  transition: 1.2s;
  border-radius: 2px;
  
}

.change .bar1 {
  transform: translate(0, 8px) rotate(405deg);
  height: 3px;
  border-radius: 2px;
}
.change .bar2 {
    transform:translate(0, 30px);
    opacity: 0;
    
}
.change .bar3 {
  transform: translate(0, -6px) rotate(-405deg);
  height: 3px;
  border-radius: 2px;
} 

.dropDown{
    display: flex;
    flex-direction: column;
    justify-self: end;
    padding: 10px;
    right: 20px;
    opacity: 1;
    width: 120px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: rgb(129, 164, 179);
    transform: translateY(0);
    transition: opacity 0.4s ease, transform 0.4s ease;
    transition-delay: 0.4s;
    position: absolute;
    z-index: 999;
}

.dropDown.hidden {
    opacity: 0;
    transform: translateY(-40px);
    pointer-events: none;
}
.navBtn {
    margin: 5px;
    padding: 2px;
    border: none;
    border-radius: 5px;
    background-color: rgb(51, 51, 51, 0.8);
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding: 3px;
}
.navBtn:hover {
    background-color: rgb(51, 51, 51, 1);
    transform: translateY(-3px);
}

.howTo {
    padding-top: 20px;
    text-align: center;
    font-family: "Playwrite DE Grund", cursive;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: px;
}

    

dl {
    line-height: 24px;
    font-style: oblique;
    color: #333;
    padding-top: calc(10px + 1vh);

}

dd {
    padding-top: 10px;
    padding-bottom: 5px;
    font-weight: 600;
    font-size: 16px;
   
}
dt {
    font-size: 13px;
    font-weight: 500;
}

.happy-revising {
    padding-top: 5px;
    font-weight: 600;
    
    
}